kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "row2col"; 

        col-gpios
            = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col0: PA10 (D2)
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col1: PA11 (D3)
            , <&gpio0 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col2: PA8  (D4)
            , <&gpio0 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col3: PA9  (D5)
            , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col4: PB08 (D6)  ←ココ重要！
            , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col5: NFC2 (P0.10)
            ;

        row-gpios
            = <&gpio0 11 GPIO_ACTIVE_HIGH> // Row0: PA6  (D10)
            , <&gpio0 9  GPIO_ACTIVE_HIGH> // Row1: PA5  (D9)
            , <&gpio0 8  GPIO_ACTIVE_HIGH> // Row2: PA7  (D8)
            , <&gpio1 9  GPIO_ACTIVE_HIGH> // Row3: PB09 (D7)  ←ココ重要！
            ;
    };